.search-form {
  /* display: flex;
  justify-content: center; */
  background-color: rgba(68, 155, 236, 0.788);
  text-align: center;
  padding: 20px;
}

.load-more.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.ishidden {
  display: none;
}
